body {
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .search-container {
    margin-bottom: 10px;
  }
  
  #searchInput {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent; /* Make the search bar transparent */
    border-bottom: 1px solid #ccc; /* Add a bottom border for a subtle effect */
    color: #333; /* Text color */
    outline: none; /* Remove the focus outline */
    font-size: 16px;
  }
  
  #searchButton {
    width: 100%;
    padding: 10px;
    background-color: #0078d4; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #tabList {
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: auto;
    scrollbar-width: thin;
    overflow-x: hidden;
    scrollbar-color: #ccc;
  }
  
  .tab-item {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .tab-item:hover {
    background-color: #f0f0f0;
  }
  